<h1>Welcome to My Favorite Books!</h1>
<h2>List the books you've read and share your ratings and reviews!</h2>
<div><%= link_to "Create a New Account", new_user_path %></div>
OR
<div> <%= link_to "Sign In", signin_path %></div>