<% if params[:book_id] %>
  <h1>Ratings for <%= @ratings.first.book.title %></h1>
<% else %>
  <h1>Ratings</h1>
<% end %>
<div>
  <% @ratings.each do |rating| %>
    <p>Rating: <%= show_stars(rating.stars) %></p>
    <p>User: <%=  rating.user.name %></p>
    <%= link_to "Read the Review", book_rating_path(rating.book, rating) %>
  <% end %>
</div>