/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    height: 100%;
    width: 100%;
    font-family: montserrat, arial, verdana;
  }

  /* --- Welcome Page Styles --- */
  body {
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  }

  .wrapper {
    max-width: 1000px;
    height: auto;
  margin: 50px auto;
  text-align: center;
  position: relative;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  }

  .box {
    max-width: 300px;
    margin: 20px auto;
    border: 1px solid gray;
    padding: 10px;
  }

  .notice {
    width: 300px;
    margin: 10px auto;
    padding:12px;
    color: #D8000C;
    background-color: #FFD2D2;
    line-height: 20px;
  }

  h1 {
    font-size: 36px;
    line-height: 48px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  p {
    margin-bottom: 18px;
  }

  div {
    padding: 10px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    width:400px;
    margin:0 auto;
    padding-top: 20px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
  padding: 0;
  display: inline-block;
        text-align:left;

  }

  li {
  background: #fff;
  font-size: 18px;
  color: #666;
  height: 40px;
  line-height: 40px; /*Aligns the text center horizontally*/
}

/*Gives every other li this color*/
li:nth-child(2n) {
  background: #f7f7f7;
}

.checkbox {
  
}

  a {
    transition: color .4s;
    color:#000;
  }

  a:link,
a:visited { color: #000; }
a:hover   { color: #a9a9a9; }
a:active  {
  transition: color .3s;
  color: #a9a9a9;
}
@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 22px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

  /* --- Signup/Login Page Styles --- */
.signup, .login {
  border: solid;
  width: 33%;
  padding: 2em;
}

.warning {
  color: red;
}

  /* --- Table Styles --- */

table {
  margin: 0 0 20px;

  
}

table, th, td {
  padding: 10px;
 
  
}

table tr:nth-child(odd) {
  background-color: #f7f7f7;
}
 

table td {
  
}

@media screen and (max-width: 800px) {
  tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3,3,3,0.2);
  }
  td, th {
    flex: 150px;
    border: 0.5px solid rgba(3,3,3,0.2);
  }



* { box-model: border-box; }
  }

  /* --- Button /input Styles --- */
form {
  display: inline-block;
}

.big_button {
   min-width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.big_button:hover,
.big_button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

  /* --- Fixes --- */

/*.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}*/

.clearfix::after {
    content: "";
    clear: both;
